{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

  <div class="section-top">
    <img src="{% static 'img/slider0.jpg' %}" width="100%">

<div class="section">
  <div class="container">
    <div class="row">
      {% for room_image in rooms%}
      <div class="col lg-3">
        <div class="room-item">
          <img src="{{ room_image.image.url }}" class="img-responsive" style="width:100%;height=100%;">
          <h4>{{ room_image.room.name}}</h4>
          <p>{{room_image.room.description}}</p>
          <div class="add-to-cart-btn">
            <button class="btn btn-success" name="button">
              Забронировать
            </button>
            <button class="btn btn-success" name="button">
              Подробнее
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

</div>
  </div>
{% endblock %}
