{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">О компании</h2>
                    </div>

                    <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">  Аренда торговых площадей</h3>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                            <p>

Вы - профессионал в сфере торговли? Тогда этот раздел - для вас. Здесь вы сможете подобрать вариант аренды магазинов, торговых точек или мест в торговых центрах, а также предложить в аренду собственную торговую недвижимость. Каталог содержит подробное описание торговых площадей и хорошо иллюстрирован. Воспользовавшись системой поиска, вы быстро найдете подходящее предложение по аренде торговой недвижимости. Вы также можете подобрать вариант среди объявлений о сдаче в аренду торговых площадей от собственников, управляющих компаний и агентств недвижимости. Если ни один из предложенных вариантов аренды вас не устроит, вы можете разместить объявление в разделе "Сниму торговые площади", указав ваши требования к торговому помещению.
                            </p>
                        </div>
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Контакты</h3>

                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                            <p>
                                Мы будем рады Вашему обращению и признательны за предложения и коррективы. Чтобы задать нам вопрос, пожаловаться или предложить что-либо, выберите соответствующую тему и отправьте нам сообщение.   </p>
                        </div>
                        <h4 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Айрат +7989898989</h4>
                        <h4 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Тех.поддержка — support@arendix.com</h4>



                    </div>
                </div>


            </div>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">Simple portfolio website</div>
                </div>
                <div class="mdl-mini-footer__right-section">
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy & Terms</a></li>
                    </ul>
                </div>
            </footer>
        </main>
{% endblock %}
